<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/examples/templates/kite-trip/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>纸鸢旅途</title>
    <script type="module" crossorigin src="/examples/templates/kite-trip/assets/index-416b8afd.js"></script>
    <link rel="stylesheet" href="/examples/templates/kite-trip/assets/index-05eafccb.css">
  </head>
  <body>
    <div id="app"></div>
    
    <script type="text/javascript" src="https://api.map.baidu.com/getscript?v=3.0&&type=webgl&ak=WwcGHNaYVyPBYwOnr8TOIsbU9VducBGu">
    </script>
  </body>
</html>
